<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{% trans %}title{% endtrans %} {{ profile.lastName }} {{ profile.firstName }} - {{ profile.jobTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% trans %}description{% endtrans %} {{ profile.lastName }} {{ profile.firstName }}, {{ profile.jobTitle }}." />
    <meta name="keywords" content="{% for tag in profile.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
    <meta name="author" content="Frederic Oddou" />

    <link rel="shortcut icon" href="{{ asset("/images/favicon.png") }}" type="image/x-icon" />

    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />

        <link href="{{ asset("/styles/css/style.css") }}" rel="stylesheet" />
        <link href="{{ asset("/styles/css/timeline.css") }}" rel="stylesheet" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {% include 'nav.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}

    {% block javascripts %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script type="text/javascript" src="{{ asset("/styles/js/scripts.js") }}"></script>
    {% endblock %}
</body>
</html>
